* {
    box-sizing: border-box;
}

/* Estilos de la Pagina Principal */

body{
    margin: 0;
}

/* Estilos del Navegador */
nav{
    background-color: rgb(235, 181, 181);
    height: 70px;
    width: auto;
}

nav img{
    width: 120px;
    margin: 5px 0px 5px 10px;
}
.lista{
    width: 500px;
    margin-right: 100px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    float: right;
}
/* Estilos de los Titulos de la Pagina Principal */
#Bienvenida{
    height: 130px;
    background: rgb(224, 216, 231);
    width: 90%;
    margin: 50px auto;
    border-radius:30px;
    border: 5px solid black;
}

#titulo{
    color: blue;
    text-align: center;
    font-family: cursive;
    font-size: 30px;
    padding-top: 10px;
    font-style: oblique;
}

#subtitulo{
    color: rgb(7, 7, 78);
    text-align: center;
    margin-top: -20px;
    font-style:italic;
}

#Titulo2{
    text-align: center;
    color: crimson;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 30px;
    padding: 5px;
}

/* Estilos del Detailts Inferior //Footer */
footer{
    padding-top: 100px;
    height: 50px;
    position: relative;
    bottom: 0;
}

.Juegos{
    width: auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

article div img{
    width: auto;
    height: 400px;
    border: 5px solid rgb(0, 0, 0);
}


details{
    padding: 10px;
    cursor: pointer;
    background-color: rgb(255, 248, 238);
    border-top: 1px solid black;
    
}
/* Aca estan los Css de la pagina de Contacto */
iframe{
    margin: 0 auto;
    border-radius: 30px;
}

.sectContacto{
    text-align: center;
}
section h2{
    text-align: center;
    margin-top: 50px;
}

.info{
    width: 1000px;
    height: 150px;
    margin: 50px auto;
    border: 1px solid black;
    border-radius: 30px;
    column-count: 2;
    padding: 20px;
    background-color: rgba(250, 250, 232, 0.993);
}

.info p{
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.info a{
    text-decoration: none;
}

/* Css para que Funcione el Precio debajo de cada Imagen */
.juego {
    margin: 10px;
}

.infoo {
    width: auto;
    height:40px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border: 1px solid #000000;
    margin-top: -10px;
}

.infoo h3 {
    font-size: 15px;
    float: left;
    margin-left: 10px;
}
.infoo h4 {
    font-size: 15px;
    float: right;
    color: rgb(0, 0, 0);
    font-style: italic;
    margin-right: 10px;
}

/* Estilando la Tabla */

#TTabla{
    color: rgb(102, 102, 102);
    padding: 10px;
    background-color: rgb(245, 245, 245);
    width: 700px;
    margin: 0 auto 20px auto;
    border-radius: 30px;
    border: 1px solid black;
}
table,tr,td,th{
    border: 1px solid rgb(219, 219, 219) ;
    border-collapse: collapse;
    background-color: rgb(245, 245, 245);
    text-align: left;
    color: rgb(102, 102, 102);
    font-size: 18px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
}

table{
    margin: 30px auto;
}

th{
    font-weight: bold;
    text-align: center;
}

table tr td img{
    width: 300px;
    padding: 5px;
    background-color: #000000;
}

.imagen{
    padding: 0;
}