/* Aca estan los estilos del Iniciar/Registrar */
section{
    width: 600px;
    height: auto;
    float: right;
    background-color: rebeccapurple;
    min-height: 782px;
}

section h2,p{
    padding-top: 20px;
    color: white;
    text-align: center
}
section a{
    color: red;
}
section form input{
    width: 230px;
    height: 30px;
}
section form {
    
    width: 400px;
    margin: 30px auto;
    text-align: center;
}
#terminos{
    width: 20px;
}

section label{
    color: white;
}

#iniciar{
    background-color: #FAD318;
    color: black;
    font-size: 15px;
    font-weight: 800;
    font-style: italic;
}
article{
    width: auto;
    height: auto;

}
article h2{
    margin-top: 20%;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

@media (max-width:1390px){
    section{
        min-height: 690px;
    }
}